<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="InvoiceRegisterDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=InvoiceRegisterDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IInvoiceManager" type="InvoiceRegister.Common.IInvoiceManager, InvoiceRegister.Common" />
    <alias alias="InvoiceManager" type="InvoiceRegister.Business.Managers.InvoiceManager, InvoiceRegister.Business" />
    <alias alias="IClientManager" type="InvoiceRegister.Common.IClientManager, InvoiceRegister.Common" />
    <alias alias="ClientManager" type="InvoiceRegister.Business.Managers.ClientManager, InvoiceRegister.Business" />
    <alias alias="IAccountManager" type="InvoiceRegister.Common.IAccountManager, InvoiceRegister.Common" />
    <alias alias="AccountManager" type="InvoiceRegister.Business.Managers.AccountManager, InvoiceRegister.Business" />
    <alias alias="ISellerManager" type="InvoiceRegister.Common.ISellerManager, InvoiceRegister.Common" />
    <alias alias="SellerManager" type="InvoiceRegister.Business.Managers.SellerManager, InvoiceRegister.Business" />

    <containers>
      <container>
        <register type="IAccountManager" mapTo="AccountManager" />
        <register type="IInvoiceManager" mapTo="InvoiceManager" />
        <register type="IClientManager" mapTo="ClientManager" />
        <register type="ISellerManager" mapTo="SellerManager" />

      </container>
    </containers>

  </unity>
</configuration>